body {
    border: 20px solid #e53b3b;
    padding: 20px;
    max-width: 700px;
    width: 80%;
    margin: 20px auto;
}

h1 {
    color: #f65656;
}

.quote {
    border-left: 5px solid #e53b3b;
    padding-left: 7px;
}

.date {
    color: #9f1313;
    text-transform: uppercase;
}

.last_p {
    border-bottom: 2px solid #e53b3b;
    padding-bottom: 11px;
}